<%- include("partials/header"); %> 

<h1>Compose</h1>
<form  action="/" method="post">
    <div class="form-group">
    <label>Title</label>
    <input class="form-control" type="text" name="titleBody"><br>
    <label>Post</label>
    <textarea class="form-control" rows="5" cols="50" name="postBody"></textarea>
    
</div>
<button type="submit" class="btn btn-primary" name="btn" value="Compose">Publish</button>
</form>
<%- include("partials/footer"); %>